---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

<style>
      
body {
  background-color: #FCF5F2;
  max-width: 500px;
  float: center;
  width: 80%; /* The width is 60%, by default */
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #424242;
  font-family: Nunito Sans, sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 35px;
}
    
h2 { 
  color: #424242;
  font-family: Nunito Sans, sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 30px;
    } 
    
 h3 { 
  color: #424242;
  font-family: Nunito Sans, sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 27px;
    } 

p {
  color: #424242;
  font-family: Nunito Sans, sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: justify;
  line-height: 1.5;
  }
    
span.small {
  color: #424242;
  font-family: 'Aref Ruqaa', serif;
  font-size: 30px;
  text-align: center;
    }
    
a { 
  color: #EDA05F; 
  text-decoration: none;
    } 
 
a:hover { 
  color: #EDA05F;
  text-decoration: underline; 
    } 
    
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

</style>

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
